.LoginForm {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    padding: .625em 1em;
    border-radius: 1.25em;
    vertical-align: middle;
    color: inherit; /* 1 */
    border: 1px solid;
}
.LoginForm div {
    margin: 1em;
}

.LoginForm  .digit-Button {
    background-color: green;
    color: #fff;
}